#!/bin/bash

FILE=/tmp/x509up_u1000
USERNAME={{ be_user }}
GROUPNAME={{ be_group }}

if [ ! -f $FILE ]
then
   touch $FILE
else
   sudo chown $USERNAME:$GROUPNAME $FILE
fi

voms-proxy-init --voms gputest.metacentrum.cz --cert /home/$USERNAME/.globus/robotpublic.pem --key /home/$USERNAME/.globus/robotprivate.pem --rfc --out $FILE
sudo chown $USERNAME:$GROUPNAME $FILE
