$color_white: #ffffff;
$color_white-hover: #e5e5e5;

$color_grey-light: #f1f4f6;

$color_grey: #393b3e;
$color_grey-hover: #131518;

$color_text: #54585a;

$color_primary: #3399d5;
$color_primary-hover: #006ba3;

$color_secondary: #00b2a9;
$color_secondary-hover: #00827a;

$color_red: #e53935;
$color_red-hover: #ab000d;

$color_green: #00c853;
$color_green-hover: #009624;

$color_brown: #996633;
$color_amber: #FFC300;