@import '../../scss-shared/variables.scss';

.App {
  height: 100%;
  overflow: auto;
}

.snackbar {
  svg {
    display: block;
    float: left;
    margin-right: 7px;
    
    &.green {
      fill: $color_green;
    }

    &.red {
      fill: $color_red;
    }
  }

  span {
    margin-top: 3px;
    float: left;
    display: block;
  }

  .link {
    color: $color_primary;
    line-height: 24px;
    display: block;
    text-transform: none;
    
    svg {
      fill: $color_primary;
      float: right;
      display: block;
      margin-right: 0;
    }

    &:hover {
      opacity: 0.7;
      background: transparent;
    }
  }
}