.show .button-area button:last-child {
  margin-left: 10px; }

.show .basic-info {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  margin-top: 15px; }

.show .image {
  max-width: 90%;
  margin: 15px auto;
  display: block; }

.show .bottom-padding {
  padding-bottom: 20px; }

.show .back-button-wrapper {
  margin-top: 15px; }

.show .status-code {
  font-size: 108px;
  margin-bottom: 15px; }

.show .deployment-not-ready {
  margin: 30px 0; }

.show .info-icon {
  position: relative;
  top: 5px;
  margin-top: -5px;
  margin-left: 5px;
  font-size: 20px;
  color: #cccccc;
  cursor: pointer; }

.show .deployment-size {
  color: #54585a;
  font-size: 0.875rem; }
