.show {
  .button-area {
    button {
      &:last-child {
        margin-left: 10px;
      }
    }
  }

  .basic-info {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    margin-top: 15px;
  }

  .image {
    max-width: 90%;
    margin: 15px auto;
    display: block;
  }

  .bottom-padding {
    padding-bottom: 20px;
  }
}

.loading-message {
  text-align: center;
}