@import '../../../../scss-shared/variables.scss';

.confirm-dialog {
  .title {
    border-top: 2px solid $color_primary;
    padding-bottom: 10px;
  }
  .text {
    color: $color_text;
  }
  .actions {
    margin: 8px 25px 25px;
  }
}